<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <!--Bootstrap  and jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Set ajax csrf -->
    <script type="text/javascript">
        const csrftoken = $('meta[name=csrf-token]').attr('content');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>

</head>

<body>

    <div class="row main">

        <div class="col-sm-4 col-sm-offset-4">

            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Login</h1>
                    <hr/>
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="/login">

                    {{ form.hidden_tag() }}

                    <div class="form-group {{ "has-error" if form.username.errors }}">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ form.username(class="form-control", placeholder="Username or email if not registered") }}
                            </div>
                        </div>
                        <p class="help-block">
                            {{ form.username.errors[0] }}
                        </p>
                    </div>

                    <div class="form-group {{ "has-error" if form.password.errors }}">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="Enter your Password"/>
                            </div>
                        </div>
                        <p class="help-block">
                            {% for err in form.password.errors %}
                            -{{ err }}
                            {% endfor %}
                        </p>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-block login-button">Login</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

</body>
</html>